<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yeapp.com.burracoscore">

    <application
        android:allowBackup="true"
        android:icon="@drawable/carte_icona"
        android:label="@string/app_name">
        <activity
            android:name=".TeamConfiguration"
            android:label="@string/configurazione"
            android:theme="@style/FeatureDialog"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SummaryActivity"
            android:icon="@drawable/carte_icona"
            android:label="@string/app_name"
            android:theme="@style/Summary">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddPoint"
            android:label="@string/title_activity_add_point"
            android:theme="@style/FeatureDialog"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>
