<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yeapp.com.burracoscore">

    <application
        android:allowBackup="true"
        android:label="@string/configurazione">
        <activity
            android:name=".TeamConfiguration"
            android:label="@string/app_name"
            android:theme="@style/TeamConfiguration"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SummaryActivity"
            android:icon="@drawable/icona_punti"
            android:theme="@style/Summary"
            android:label="@string/app_name"></activity>
    </application>

</manifest>
